@import url('https://fonts.googleapis.com/css?family=Asap');
*{
	font-family: 'Asap', sans-serif !important;
}

 .row {
	 max-width: 100%;
	 margin-right: 0px !important;
	 margin-left: 0px !important;
 }

.leftTitle{
	text-align: left;
	margin: 1% 15%;
	font-weight: bold;
}

.centerTitle{
	margin-left: calc((100% - 231.65px)/2);
	font-weight: bold;
	color: #FFF;
	margin-top: 30px;
	position: absolute;
}

.containeramt{
	border: 2px #f3f3f3 solid;
	margin: 1% 10%;
	width: 80%;
	position: relative;
}

.containeramt_full{
	border: 5px #f3f3f3 solid;
	margin: 1% 1%;
	width: 98%;
	position: relative;
}

.form_amt{
	width: 80%;
	margin: 2% 10%;
}

#footer{
	background-color: #343a40;
	height: 80px;
	width: 100%;
}

*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/*| Navigation |*/

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
}

nav.pagn{
	position: relative !important;
}

  nav ul{
    list-style: none;
    position: relative;
    float: right;
    display: inline-table;
  }
  nav ul.pag{
    margin-right: 0px;
}
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    nav ul li:hover{background: rgba(0,0,0,.15);}
    nav ul li:hover > ul{display: block;}
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
      nav ul li a{
        display: block;
        padding: 30px 20px;
        color: #FFF;
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none !important;
      }

	  nav ul li a:hover{
		  color: #f0f0f0;
	  }

      nav ul ul{
        display: none;
        background: #343a40;
        position: absolute;
        top: 100%;
        box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
      }
        nav ul ul li{float: none; position: relative;}
          nav ul ul li a {
            padding: 15px 10px;
            border-bottom: 1px solid rgba(0,0,0,.05);
          }
          nav ul ul ul {
            position: absolute;
            left: 100%;
            top:0;
          }
.txt{
	text-align: justify;
	margin: 0.5% 1%;
}

.middleimg{
	width: 30%;
	margin: 1% 30%;
}

.rqrd{
	color: RED;
}

.user{
	max-width: 25px;
	border-radius: 50%;
	margin-bottom: 5px;
}

.icon{
	max-width: 22px;
	border-radius: 50%;
}

.iconForm{
	width: 80px;
	height: 80px;
	margin: 1%;
}

#marg{
	margin-right: 450px;
}

.lft{
	margin-left: 70px;
	width: 120px;
}

#result{
	margin-top: 10px;
	text-align: left;
}
a:link, a:visited, a:active {
    text-decoration:none;
}

.logo{
	width: 200px;
	height: 60px;
	color: #FFF !important;
	background-color: #00AEEF;
	z-index: 9999;
	margin: -15% -9%;
}

.big{
	text-align: center;
	font-size: 26px;
	margin: 0% 10%;
}

.little{
	text-align: center;
	font-size: 8px;
	margin: 0% 10%;
}

.product{
	width: 45px;
}

.panel-box {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}

.panel-icon {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.panel-icon {
    width: 40%;
    border-radius: 0;
}
.bg-blue {
    background-color: #7ACBEE;
}

.pull-leftt {
    float: left !important;
}

.panel-icon i {
    line-height: 65px;
    font-size: 40px;
    color: #fff;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.index{
	width: 70%;
	margin-left: 15%;
}

.margin-top{
	margin-top: 30px;
}

.pull-right {
    float: right !important;
	width: 60%;
	height: 100%;
	background-color: #f8f8f8;
}

.text-muted{
	margin-bottom: 0%;
}

.more{
	width: 36px;
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;
}
